.container {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;

  p {
    font-size: 58px;
    font-weight: 500;
    color: #A5A5AB;
    position: relative;

    &::before {
      content: attr(data-text);
      position: absolute;
      color: #0070EF;
      overflow: hidden;
      white-space: nowrap;
      border-right: 4px solid #0070EF;
      animation: move 8s linear infinite;
      // filter: drop-shadow(0 0 20px #0070EF) drop-shadow(0 0 50px #0070EF);
    }

    @keyframes move {
      0%,
      10%,
      100% {
        width: 0;
      }
      70%,
      90% {
        width: 100%;
      }
    }
  }

  &.light {
    p {
      color: #A5A5AB;

      &::before {
        color: #0070EF;
        border-right: 4px solid #0070EF;
        // filter: drop-shadow(0 0 20px #0070EF) drop-shadow(0 0 50px #0070EF);
      }
    }
  }
}